body{

background:#0d0d0d;
color:white;
font-family:sans-serif;
margin:0;

}

header{

background:black;
padding:20px;

}

nav a{

color:red;
margin:10px;
text-decoration:none;

}

nav a:hover{

color:white;

}

section{

padding:40px;

}

input,button{

padding:10px;
margin:5px;

}

table{

width:100%;
border-collapse:collapse;

}

td,th{

border:1px solid #444;
padding:10px;

}
